// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pcontainer {
	width: 100%;
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex;
}
.category {
	float: left;
    width: 320px;
    text-align: left;
    border: 1px solid gray;
}
.bar {
    margin-left: 10px;
    height:40px;
    padding: 1em;
    overflow: hidden;
}
.product {
	float: left;
}
li {
	list-style-type: none;
}
#addproduct {
	float: right;
}
