<div class="subject">
	<span class="sub_subject">Novel</span>
	<span class="details">></span>
</div>

<div class="subject_list">
	<span><%= link_to "fiction", "#"%></span>
	<span><%= link_to "comic", "#"%></span>
	<span><%= link_to "autobiography", "#"%></span>

</div>
