<span class="bar" id="pricelabel">Price</span>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5, :class=>"bar", :id=>"priceStart") %>
<%= number_field(:product, :price, in: 1.0..20.0, step: 0.5, :class=>"bar", :id=>"priceEnd") %>
